{% extends "layout.html" %}

    {% block body %}

      <div>
        {% for result in data %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Keyword</th>
              <th scope="col">Source</th>
              <th scope="col">Destination</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <!-- stub data if no projects found or not loaded yet -->

        <form>
            <div class="form-group">
                <label for="searchSource">Search Source</label>
                <select class="form-control" id="searchSource">
                    <option>Twitter</option>
                    <option>GitHub</option>
                </select>
            </div>
            <div class="form-group">
                <label for="searchDestination">Search Destination</label>
                <select class="form-control" id="searchDestination">
                    <option>GitHub</option>
                    <option>Twitter</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="keywordSearch" class="col-2 col-form-label">Keyword</label>
                <div class="col-10">
                    <input class="form-control" type="search" value="" id="keywordSearch">
                </div>
            </div>
            <div class="form-group">
                <label for="textSearch">Text Search</label>
                <textarea class="form-control" id="textSearch" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% endfor %}
      </div>
      <!-- /.row -->

    {% endblock %}
